{%extends "base.html"%} {%load static%} {%block contenedor%}

<h2>Detalle de funeral</h2><br>
{% if Beneficiario.id != 0 %}
<form action="{% url 'Nuevavida:guardarDetalle' %}" method="post">
{% else %}
<form action="{% url 'Nuevavida:agregarDetalle' %}" method="post">
{% endif %}


    {% csrf_token %}
    <input type="hidden" name="id">
    <div class="form-group">
        <label for="fname">Usuario:</label><br>
        <select class="form-control" name="idUsuario" id="idUsuario">
            <option value="0">Seleccione</option>
            {% if Usuario %}
                {% for usuario in Usuario %}
                
                    {% if usuario.id != 0  %}
                        <option value="{{usuario.id}}" selected >{{usuario.nombre}} - Plan:{{usuario.idplan.nombrePlan}}</option>
                    {% else %}
                        <option value="{{usuario.id}}">{{usuario.nombre}} - Plan:{{usuario.idplan.nombrePlan}}</option>
                    {% endif %}
                {% endfor %}
            {% endif %} 
        </select><br>
    </div>
    <div class="form-group">
        <label for="fname">Fecha del Entierro:</label><br>
        <input class="form-control" type="date" name="fechaEntierro" ><br>
    </div>
    <div class="form-group">
        <label for="lname">Detalles:</label><br>
        <textarea class="form-control" type="text" name="detalles" ></textarea><br>
    </div>
    <div class="form-group">
        <label for="lname">Cantidad de Bebidas</label><br>
        <input class="form-control" type="number" name="cantidadBebidas" ><br>
    </div>

    <div class="form-group">
        <label for="lname">Precio de las Bebidas:</label><br>
        <input class="form-control" type="number" name="precioBebidas" ><br>
    </div>
    <div class="form-group">
        <label for="lname">Total de las Bebidas:</label><br>
        <input class="form-control" type="number" name="totalBebidas" value="{% if Beneficiario %}{{Beneficiario.fechaNacimiento}}{% endif %}"><br>
    </div>
    <div class="form-group">
        <label for="lname">Lugar de la velacion:</label><br>
        <input class="form-control" type="text" name="lugarVelacion" value="{% if Beneficiario %}{{Beneficiario.fechaNacimiento}}{% endif %}"><br>
    </div>
    <div class="form-group">
        <label for="lname">Nombre del cementerio:</label><br>
        <input class="form-control" type="text" name="nombreCementerio" value="{% if Beneficiario %}{{Beneficiario.fechaNacimiento}}{% endif %}"><br>
    </div>

    <input class="btn btn-success" type="submit" value="guardar">
</form>


{% if messages %}
    
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %} > {{ message }}</li>
        {% endfor %}
    
    <div class="alert alert- {% if message.tags %} {{ message.tags }} {% else %} dark {% endif %}" role="alert"> {{ message.tags }} </div>
{% endif %}

{%endblock%}